* {
    margin: 0;
    padding: 0;
  }

.main_container{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.menu-container{
    display: grid;
    position:relative; 
}

.background{
    display: grid;
    grid-template-rows: 3fr 1fr 3fr;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.top_{
    background-color:  #f2d3e3;
}

.center_line{
    background-color: rgb(128, 105, 255);
} 

.bottom_{
    background-color:  #f2d3e3;
}

.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    position: relative;
    top: -13vh;
    max-width: 70%;
    max-height: 70vh; 
    margin: 0 auto;
}

.card {
    background-color: honeydew;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    transform: translateY(0); 
    max-height: 70vh;
    transition: color 0.55s ease, paddind-left 0.3 ease;
  }
  .card:nth-child(2) {
    transform: translateY(5vh); 
  }
  .card:nth-child(3) {
    transform: translateY(10vh); 
  }

  .card:hover {
    transform: scale(1.2);
}

.card img {
    width: 100%;
    height: auto;
    max-height: 65%; 
    object-fit: contain; 
    border-radius: 8px;
    margin-bottom: 15px;
}

.card h1{
    object-fit: contain; 
    white-space: nowrap;
}

  .card a {
    object-fit: contain; 
    color: #d773a2;
    text-decoration: none;
    font-weight: bold;
    margin-top: auto;
    white-space: nowrap;
  }

  .logo1{
    color: rgb(11, 1, 160);
    font-weight: 1000;
    font-size: 5em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 5%;
    text-shadow: 3px 5px 6px rgb(101, 1, 1);
    position: relative;
    text-align: center;  
    margin-top: 10vh;
}

.logo2{
    color: rgba(0, 0, 0, 0.2);
    font-weight: 500;
    font-size: 2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    text-decoration: none;
    margin-top: -90vh;
     margin-left: 20%; 
     transition: color 0.55s ease, paddind-left 0.3 ease;
}

.logo2:hover {
    transform: scale(1.2);
    color: honeydew;
}

.Menu{
    color: rgba(0, 0, 0, 0.2);
    font-weight: 500;
    font-size: 2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    text-decoration: none;
    margin-top: -12vh;
    margin-left: 80%; 
}

.Menu:hover {
    color: honeydew;
}

.dropdown {
    display: none; 
    position: absolute;
    bottom: -4vh;
    left: 80%;
    background-color: honeydew;
    z-index: 1; 
}

.menu-container:hover .dropdown {
    display: block; 
}

.dropdown a {
    display: block; 
    padding: 10px 15px; 
    color: black; 
    text-decoration: none; 
}

.dropdown a:hover {
    background-color: honeydew; 
}

.dropdown li {
    position: relative; 
    width: 100%; 
}

@media (max-width: 500px) {

    .body{
        width: 50vw;
    }
    .main_container{
        width: 95vw;
    }
 
    .logo1{
       margin-top: 35vh;
       color: #f2d3e3;
    }

    .Menu{
        margin-top: 1vh;
        margin-right: 5vh;
    }
    .dropdown{
        top: 6vh;
    }

    .background {
        display: grid;
    grid-template-rows: 1fr 1fr 2fr;
    }

    .top_,
    .center_line {
        width: 100%; 
        height: 250px;
    }

    .bottom_{
        width: 100%;
        height: 1650px;
    }

    .cards {
        margin-top: 500px;
        display: flex;
        flex-direction: column; 
        gap: 20px; 
        width: 100%; 
        padding: 0 10px;
    }

    .card {
        background-color: honeydew;
        padding: 20px;
        text-align: center;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transform: translateY(0);
        max-height: 100%; 
        transition: color 0.55s ease, padding-left 0.3s ease;
    }
}
